img, .skewFrame {
				left: 28px;
   				top: 38px;
			    display:block; 
			    margin:auto;
			    overflow:hidden;
		        border-width: 0px;
    			transform-origin: top left;
    			-webkit-transform-origin: top left;
			}
			#iframe-desktop{
				width:1500px; 
			    height: 900px;
			    transform: scale(0.3181);
    			-webkit-transform: scale(0.3181);
			}
			#iframe-tablet {
				width:1200px; 
			    height: 800px;
			    transform: scale(0.3971);
    			-webkit-transform: scale(0.277);
			}
			#iframe-mobile {
				width:500px; 
			    height: 300px;
			    transform: scale(1);
    			-webkit-transform: scale(1);
			}
			#platformWrapper {
				z-index:999;
			}
			#platformWrapper, #iframeWrapper {
				width: 500px;
				height: 300px;
				margin: auto;
				display: block;
				position: relative;

			}

			.t_input {
				width:135px;
			}
			div {
				z-index:100;
				/*position:fixed; */
			}

			#skewDiv, #scaleDiv {
				background:coral; 
				position:fixed;
			}

			#skewDiv {
				bottom:0px; left:0px;  position:fixed;
			}
			#scaleDiv {
				bottom:0px; right:0px;  position:fixed;
			}
			#perspectiveDiv {
				background:lime;
				bottom:70px; right:0px;  position:fixed;
			}
			#rotateDiv {
				background:lime;
				bottom:70px; left:0px;  position:fixed;
			}
			#translateDiv {
				background:pink;  position:fixed;
				bottom:0px; left:50%; margin-left:-120px;
			}
			#rotateZDiv {
				background:lime;  position:fixed;
				bottom:70px; left:50%; margin-left:-60px;
			}

			/*
			Slider
			*/
			.my-slider {
				height:420px;
			}
			.slider-wrapper {
				position:relative;
				display:block;
				margin:auto;
				width:500px;
				margin-top:-300px;
			}

			.my-slider li > img{
				width:500px;
			}
			